<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade3</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<style>
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    background: rgba(32, 201, 130, 1);
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    margin-top: 40px;
    justify-content: flex-start;
    max-width: 100%;
}

.logo{
    height: 10px;
    width: 10px;
}

.logoSecundaria {
    margin-left: 80px;
}

.container {
    box-sizing: border-box;
    margin-top: 100px;
    height: 487px;
    width: 1000px;
    border: 1px solid #0e0d0d;
    background-color: azure;
    text-align: left;
    padding: 40px;
    border-radius: 20px;
    position: relative; 
}

.container-text {
    margin-top: 20px;
    margin-left: 80px;
}

h3 {
    font-size: 40px;
}

.container-text p {
    margin-top: 20px;
    color: #726e6e;
}

.car img {
    margin-top: 40px;
    width: 350px;
    height: 150px;
}

label {
    display: block;
    margin-bottom: 20px;
}


label {
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}

form {
    position: absolute;
    top: 10px;
    right: 20px;
    background: #f1f7f3;
    padding: 75px;
    border-radius: 10px;
    justify-content: left;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #41b15d;
    border-radius: 5px;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #41b15d;
    border-radius: 5px;
    margin-bottom: 10px;
}

.submit {
    width: 100%;
}

input[type="submit"] {
    background-color: #45a049;
    color: #fff;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3f8b41;
}

    </style>
</head>

<body>
    <div class="background">
        <header>
            <div class="logo">
                <img src="/logo1.png" alt="">
            </div>
        </header>

        <div class="container">
            <div class="logoSecundaria">
                <img src="/logo.png" alt="logo">
            </div>
            <div class="container-text">
                <h3>Simule seu <br> financiamento.</h3>
                <p>Escolha as melhores condições para<br> o financiamento do seu veículo.</p>
            </div>
            <div class="car">
                <img src="/carro.png" alt="">
            </div>
            {{#if isConfirmed}}
                <script>
                    Swal.fire({
                        title: "Banco -> {{infos.bankName}}",
                        html: "<h1>Total: {{infos.valor}}</h1><br>R${{infos.numParcelas}}X de {{infos.mensal}}",
                        icon: 'success'
                    }).then(res=>{
                        if(res.isConfirmed){
                            window.location.href = 'localhost:3000/'
                        }
                    })
                </script>
            {{/if}}

            <form action="/" method="post">
                <div class="text">
                    <p>Preencha os Campos e simule <br>seu financiamento.</p>
                </div>
                <div class="valor">
                    <label for="valor">Valor:</label>
                    <input type="number" id="valor" name="valor" placeholder="Digite o valor aqui" required>
                </div>

                <div class="banco">
                    <label for="banco"></label>
                    <select id="banco" name="banco" required>
                        <option selected disabled>Selecione um Banco</option>
                        <option value="Banco do Brasil">Banco do Brasil</option>
                        <option value="Caixa Econômica Federal">Caixa Econômica Federal</option>
                        <option value="Bradesco">Bradesco</option>
                        <option value="Itau">Itaú</option>
                        <option value="Santander">Santander</option>
                        <option value="Sicoob">Sicoob</option>
                        <option value="Inter">Inter</option>
                        <option value="Original">Original</option>
                        <option value="Nubank">Nubank</option>
                        <option value="Picpay">Picpay</option>
                    </select>
                </div>

                <div class="meses">
                    <label for="meses"></label>
                    <select id="meses" name="meses" required>
                        <option selected disabled>Em quantos meses</option>
                        <option value="1">1 mês</option>
                        <option value="3">3 meses</option>
                        <option value="6">6 meses</option>
                        <option value="12">12 meses</option>
                    </select>
                </div>
                <div class="submit">
                    <input type="submit" value="Simular financiamento">
                </div>
                
            </form>
        </div>
    </div>
</body>

</html>
